---
layout: archive
title: "Supervision"
permalink: /supervision/
author_profile: true
---
<h2>For prospective students</h2>

<p>
  Dear student, thank you for considering me as a potential supervisor for your degree project. 
  During this stage in the learning process, you will experience the process of considering a problem, 
  proposing a solution, and prototyping it by following a rigorous research methodology. For this aim, 
  my role as a supervisor is to guide you through this process and support your professional development.
  For further information, please get in touch with me via e-mail at juan.d.cardenas[at]uia.no
</p>

<h3>Who are you?</h3>

<p>
  I am looking for bachelor's and master's students passionate about implementing control, signal processing,
  and optimization in safety-critical applications. The following list of desired skills will serve as a description of your present formation and the skillset we will enhance during the project:
</p>

<ul>
  <li>Good communication skills in written and spoken English.</li>
  <li>Comfortable with public speaking.</li>
  <li>Team player in a multicultural setting</li>
  <li>Solid  knowledge  in  calculus,  linear  algebra,  probability,  
    statistics,  control  systems, and differential equations.</li>
  <li>Experience in programming for machine learning applications</li>
  <li>Experience in agile development and version control practices</li>
  <li>Knowledge of databases and data architecture</li>
  <li>Know-how of rapid prototyping techniques</li>
</ul>

<p>
  Please note that this is a wishlist of skills. Thus you are not expected to fulfill all the items above. Nevertheless, I am willing to work with you toward your professional development so that you may feel confident in your skills and career ambitions by the end of the project.
</p>

<h3>What are my expectations from our project</h3>

<ul>
  <li>Fulfill the requirements to take the project credits. Please contact the program director for further information.</li>
  <li>Be responsible for the tasks and deliverables related to the project.</li>
  <li>Take the initiative in the project by proposing new ideas, showing your results to society, and contacting potential new partners.</li>
  <li>Organize your time so that the project is one of your priorities.</li>
  <li>Learn new skills and concepts that may support a successful project.</li>
  <li>Keep constant communication with me about your progress, doubts, and new ideas. We may keep in touch during meetings, e-mails, and office hours.</li>
  <li>Study the literature I will share with you and discuss it during our weekly meetings.</li>
  <li>Send me a bi-weekly report of your progress and project results.</li>
  <li>Support me with the documentation related to your project results in case your research is associated with a grant.</li>
  <li>Participate actively in our meetings with questions, ideas, and comments.</li>
  <li>Submit a high-quality project report that shows expertise in the problem and explains the proposed solution in detail.</li>
  <li>Submit your results to a Q1/Q3 journal. We may discuss target journals during the first meetings.</li>
  <li>Present your results to a panel of experts in the field.</li>
  <li>Explain your work to a non-technical audience.</li>
</ul>

<h3>About the Student-Supervisor relationship</h3>

<ul>
  <li>Respectbetween  colleagues is  the  first  rule  for  a  healthy supervisor-student relationship.</li>
  <li>Academia is built on challenging and criticizing ideas. This comment is in both directions of the student-supervisor relationship. 
    As I will challenge all your ideas, please do not take my ideas for granted. One of this project's main objectives is to build critical thinking as a researcher.</li>
</ul>
<h3>Potential project ideas</h3>

<p>TBA</p>

<hr>

<h2>Current students and projects</h2>
{% include base_path %}

{% for post in site.supervision reversed %}
  {% include archive-single.html %}
{% endfor %}
