---
layout: archive
title: "Supervision"
permalink: /supervision/
author_profile: true
---
<h2>For prospective students</h2>

<p>
  Dear student, thank you for considering me as a potential supervisor for your degree project. During this stage in the learning process, you will experience assessing a problem, proposing a solution, and prototyping it by following a rigorous research methodology. For this aim, my role as a supervisor is to guide you through this process and support your professional development. For further information, please get in touch with me via e-mail at <b>j.d.cardenas.cartagena[at]rug.nl</b>
</p>

<p>In case you want some inspiration for projects, here is a list of ideas I am interested in working on: <a href="/ideas-projects/"><b>Project Ideas</b></a> </p>

<h2>Supervision Methodology and Academic Project Management </h2>

<p> 
  My approach in bachelor's and master's project management follows a design thinking methodology and test-driven development focused in academic settings. The student is expected to follow four development stages during the project: 
</p>

<ul>
  <li><b>Stage 1:</b> In this initial stage, the student will define a research problem, gather information to explain the situation, review the state-of-the-art and generate ideas to solve it. During this stage, the student is expected to explain the problem theoretically while describing its importance in society. Additionally, the proposed solutions shall have a clear viability and feasibility framework to continue with the following stages.</li>

  <li><b>Stage 2:</b> After the problem definition and solution brainstorming, the following stage involves planning the development process for the candidate solutions. This step involves in preparing a testing environment and refining each candidate solution into a proof-of-concept. By the end of the stage, the student is expected to develop minimal viable products (MVP) and a testing framework with their corresponding documentation.</li>

  <li><b>Stage 3:</b> At this point, the student should have a tangible candidate solution. Hence, the next step is to perform experiments to test the viability and feasibility of this MVP in solving the problem. Moreover, the student shall compare the MVP's performance against state-of-the-art solutions from the literature. After testing and benchmarking, the student shall propose modifications for the problem definition and the candidate solutions for either the current project or future work.</li>

  <li><b>Stage 4:</b> The final task is about sharing the story behind the problem, methodology, experiments, and results from the project. The communication process involves scientific reports, technical documentation, and presentations. Although the mandatory products from the project are intended for the academic community, I encourage the student to go further and disseminate the knowledge from the project and results to society.</li>
</ul>

<p>As a remark, these stages do not necessarily have a linear timeframe. Indeed, the student is expected to visit each stage multiple times or perform some tasks in parallel; for example, writing the project documentation. The image below summarizes my project management approach.</p>

<div style="text-align: center;">
  <img src="/images/supervision_webpage.png"
      alt="Design and Development of Projects."
      style="display: block; margin-left: auto; margin-right: auto;" />
  <figcaption>Project stages and expected results</figcaption>
</div>

<p>By the end of the project, the following mandatory products are expected:</p>

<ul>
  <li>Technical report with problem description, proposed solutions, experimental results, and project conclusions by following the University guidelines.</li>
  <li>Software and hardware with documentation associated with the project.</li>
  <li>A public dissertation following the University guidelines.</li>
</ul>

<p>Also, as discussed in stage 4, I motivate the student to work on the following optional products:</p>

<ul>
  <li>Summary paper from the technical report suitable for conferences or journals.</li>
  <li>3-minute elevator pitch video of the project.</li>
  <li>Blog post or video explaining the problem and project for a general audience.</li>
</ul>

The intention of both, mandatory and optional products, is professional development, social appropriation of knowledge, and fulfilling the degree requirements. So that the experience from the project can support the next step in your career.

<h2>Who are you?</h2>

<p>
  I am looking for bachelor's and master's students from the University of Groningen who are passionate about implementing control, estimation, signal processing, and optimization in safety-critical applications. The following list of desired skills will serve as a description of your present formation and the expertise we will enhance during the project:
</p>

<ul>
  <li>Good communication skills in written and spoken English.</li>
  <li>Comfortable with public speaking</li>
  <li>Team player in a multicultural setting</li>
  <li>Solid  knowledge  in  calculus,  linear  algebra,  probability,  
    statistics,  control  systems, and differential equations</li>
  <li>Experience in programming for machine learning applications</li>
  <li>Experience in agile development and version control practices</li>
  <li>Knowledge of databases and data architecture</li>
  <li>Know-how of rapid prototyping techniques</li>
</ul>

<p>
  Please note that this is a skillset wishlist. Thus you are not expected to fulfill all the items above. Nevertheless, I want to work with you toward your professional development so that you may feel confident in your career ambitions by the end of the project.
</p>

<h2>What are my expectations from our project</h2>

<ul>
  <li>Fulfill the requirements to take the project credits. Please get in touch with the program director for further information</li>
  <li>Be responsible for the tasks and deliverables related to the project</li>
  <li>Take the initiative in the project by proposing new ideas, showing your results to society, and contacting potential new partners.</li>
  <li>Organize your time so that the project is one of your priorities</li>
  <li>Learn new skills and concepts that may support a successful project</li>
  <li>Keep constant communication with me about your progress, doubts, and new ideas. We may keep in touch during meetings, e-mails, and office hours</li>
  <li>Study the literature I will share with you and discuss it during our weekly meetings</li>
  <li>Send me a bi-weekly report of your progress and project results</li>
  <li>Support me with the documentation related to your project results</li>
  <li>Participate actively in our meetings with questions, ideas, and comments</li>
  <li>Submit a high-quality project report that shows expertise in the problem and explains the proposed solutions in detail</li>
  <li>Submit your results to a high-impact journal. We may discuss target journals during the first meetings</li>
  <li>Present your results to a panel of experts in the field</li>
  <li>Explain your work to a non-technical audience</li>
</ul>

<p>
  In the case of <b>bachelor's projects</b>, I expect the student to work independently and find creative ways to solve a problem. The nature of the problem can be theoretical or come from challenges in industry or society. The proposed solution shall follow a rigorous research methodology to produce meaningful results. The student should be able to communicate the problem, proposed solution, method to achieve the results, and project outcomes to a technical committee and the general public. Meanwhile, my expectations for <b>master's projects</b> are similar, with slight modifications. In this case, the student is expected to produce new knowledge and work on a more specific research problem.
</p>

<h2>About the Student-Supervisor relationship</h2>

<ul>
  <li>Respect between  colleagues is  the  first  rule  for  a  healthy supervisor-student relationship</li>
  <li>Academia is built on challenging and criticizing ideas. This comment is in both directions of the student-supervisor relationship. As I will challenge all your ideas, please do not take my ideas for granted. One of this project's main objectives is to build critical thinking as a researcher</li>
  <li>Keep a work-life balance with the project. Before becoming a professional, you are someone with hobbies and loved ones. Your professional and personal development are equally important</li>
</ul>

<hr>

<!---
<h2>Students and projects</h2>
{% include base_path %}

{% for post in site.supervision reversed %}
  {% include archive-single.html %}
{% endfor %}
--->

<hr>

<h4>Regarding University Admission</h4>
Please refer to the University admission webpage (<a href="https://www.rug.nl/education/master/international-students/admission-and-application/application-admission-procedure/?lang=en"><b>www.rug.nl/education/...</b></a>) for more information about admissions, financial support and other administrative matters. I do not reply about these topics via informal e-mail nor social media.

