---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<h2>Teaching Methodology</h2>

<p>Educational activities in Artificial Intelligence, Applied Mathematics, and Mechatronics require a balance between theory and practice. Nowadays, industries demand professionals with skills to implement well-known algorithms to solve problems while proposing novel ideas to fulfill efficiency objectives. A student in those fields needs training and assessments focusing on research and business. Hence the student should be capable of designing and managing projects for different applications while communicating results to a diverse audience. For this purpose, my teaching methodology aims for a <b>student-centred approach</b> where the classroom becomes an experimentation space to face field-related challenges in a controlled environment. The image below shows the principles for my teaching methodology.</p>

<div style="text-align: center;">
  <img src="/images/teaching_webpage.png"
      alt="Design and Development of Projects."
      style="display: block; margin-left: auto; margin-right: auto;" />
  <figcaption>Teaching principles</figcaption>
</div>

<h3>Mathematical Foundations</h3>
<p>We may see the importance of mathematical thinking in artificial intelligence and robotics in cases such as backpropagation in neural networks and transformation matrices in robotics. I believe that an engineer and researcher should understand how to derive formulas by hand and describe how to prove essential theorems linked to a subject; likewise, the student needs to take advantage of tools for solving complex problems. For this purpose, I focus my teaching material on easy-to-follow but rigorous mathematics behind the concepts in each topic discussed in the courses. </p>

<h3>Project-based Assessments</h3>
<p>An engineer or researcher must maintain a balance between theoretical knowledge and skills to develop solutions for a challenging situation. Therefore, I aim for assessments where the student may show expertise in the subject while prototyping an idea to solve a problem. And furthermore, the student can communicate the results from the prototype to a target audience.</p>

<h3>Case Study Lectures</h3>
<p>As the students learn theory in the courses, they want to see the usefulness of new concepts in real-world settings. For this purpose, I challenge students with discussions about current problems in research and industry. So that the students can ask questions, propose new ideas, and critique the existing solutions in the study case.</p>

<h3>Research-based Courses</h3>
<p>Artificial Intelligence and Mechatronics are fast-evolving fields. Thus, it is essential to keep a quick learning mentality in the classroom and actively explore new concepts from the state-of-the-art. The teacher and students should continuously discuss recent developments and how they can employ those advances in ongoing and future projects.</p>

<h3>Professional Development</h3>
<p>One of the primary purposes of a degree is to prepare students for the next step in their professional careers. Indeed, the after-graduation life is a critical topic with a lot of uncertainty. The student has several paths to follow, from working in the industry to researching at a university or developing a business. So, I understand the classroom and office hours as spaces where the student can receive mentorship and do networking toward their professional objectives.</p>

<h3>Multidisciplinary Approach</h3>
<p>The exercise of applied mathematics may expose the professional to diverse applications. In my case, I have worked in robotics, health care, and fish farming. Hence, I intend to discuss the same problem from different fields in the classroom. So that the students may feel comfortable managing projects in various disciplines during their professional careers.</p>

<h2>Courses</h2>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}