---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<h2>Teaching Methodology</h2>

<p>Educational activities in Artificial Intelligence, Applied Mathematics, and Mechatronics require a balance between theory and practice. Nowadays, industries demand professionals with skills to implement well-known algorithms to solve problems while proposing novel ideas to fulfill efficiency objectives. A student in those fields needs training and assessments focusing on research and business. Hence the student should be capable of designing and managing projects for different applications while communicating results to a diverse audience. For this purpose, my teaching methodology aims for a <b>student-centred approach</b> where the classroom becomes an experimentation space to face field-related challenges in a controlled environment. The image below shows the principles for my teaching methodology.</p>

<div style="text-align: center;">
  <img src="/images/teaching_webpage.png"
      alt="Design and Development of Projects."
      style="display: block; margin-left: auto; margin-right: auto;" />
  <figcaption>Teaching principles</figcaption>
</div>

<h2>Courses</h2>

TBA

<!--- 
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

---> 